<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ArticleCategoryMapper">
  <resultMap id="articleCategoryMap" type="top.sceon.blog.entity.ArticleCategory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="columns">
    id, guid, userId, name, updateTime, status
  </sql>
  <select id="selectPk" parameterType="java.lang.Integer" resultMap="articleCategoryMap">
    select 
    <include refid="columns" />
    from article_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="top.sceon.blog.entity.ArticleCategory">
    insert into article_category (guid, userId, name, status)
    values (#{guid,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
            #{name,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER})
  </insert>
  <sql id="params">
      <where>
          <if test="userId != null">
              userId = #{userId}
          </if>
          <if test="name != null">
              and name like '%${name}%'
          </if>
          <if test="exactName != null">
              and name = #{exactName}
          </if>
          <if test="status != null">
              and status = #{status}
          </if>
      </where>
  </sql>
    <select id="countParam" resultType="int">
        select count(id) from article_category <include refid="params" />
    </select>
    <select id="selectParam" resultMap="articleCategoryMap">
        select <include refid="columns" /> from article_category <include refid="params" />
    </select>
</mapper>