<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MenuMapper">
  <resultMap id="menuResultMap" type="top.sceon.blog.entity.Menu">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="guid" jdbcType="VARCHAR" property="guid" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="pageId" jdbcType="INTEGER" property="pageId" />
    <result column="ordinal" jdbcType="INTEGER" property="ordinal" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="columns">
    id, guid, userId, name, alias, parentId, pageId, ordinal, updateTime, status
  </sql>
  <select id="selectPk" parameterType="java.lang.Integer" resultMap="menuResultMap">
    select <include refid="columns" /> from menu where id = #{id,jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="top.sceon.blog.entity.Menu">
    insert into menu (guid, userId, name, alias, parentId, pageId, ordinal, status)
    values (#{guid,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER},
      #{name,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{pageId,jdbcType=INTEGER}, #{ordinal,jdbcType=INTEGER}, #{status,jdbcType=INTEGER})
  </insert>
  <update id="updateParam" parameterType="top.sceon.blog.entity.Menu">
    update menu
    <set>
      <if test="guid != null">
        guid = #{guid,jdbcType=VARCHAR},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="pageId != null">
        pageId = #{pageId,jdbcType=INTEGER},
      </if>
      <if test="ordinal != null">
        ordinal = #{ordinal,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="countParam" resultType="int">
        select count(id) from menu <include refid="params" />
    </select>
    <select id="selectParam" resultMap="menuResultMap">
        select <include refid="columns" /> from menu <include refid="params" />
    </select>
    <sql id="params">
        <where>
            <if test="userId != null">
                userId = #{userId,jdbcType=INTEGER}
            </if>
            <if test="name != null">
                and name like "%${name}%"
            </if>
            <if test="alias != null">
                and alias like "%${alias}%"
            </if>
            <if test="parentId != null">
                and parentId = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="pageId != null">
                and pageId = #{pageId,jdbcType=INTEGER}
            </if>
            <if test="ordinal != null">
                and ordinal = #{ordinal,jdbcType=INTEGER}
            </if>
            <if test="status != null">
                and status = #{status,jdbcType=INTEGER}
            </if>
        </where>
    </sql>
    <update id="updatePage">
        update menu set pageId = #{pageId,jdbcType=INTEGER} where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>